@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@mixin displayCenter {
    display: flex;
    justify-self: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.pexels.com/photos/1444442/pexels-photo-1444442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

p {
    font-family: 'Redressed', cursive;
    font-size: 30px;
    font-weight: 300;
    margin: 15px;
    color: white;
}

.container {
    background-repeat: no-repeat;
}

.container {
    @include displayCenter();
    text-align: center;
}

h1,
h2 {
    font-family: 'Redressed', cursive;
    text-transform: uppercase;
    font-family: $cinzel;
    color: white;
}

h1 {
    font-size: 150px;
    font-weight: 400;
}

h2 {
    font-size: 100px;
    font-weight: 700;
    margin-top: -30px;
}

.We {
    font-size: 50px;
    color: white;
}

.social_connects {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}