{% extends "base.html" %}
{% block body_block %}
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="static\style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
   <div class="container_inside">
            <p class="We">Someone is there
                <br> Somewhere who dreams of you..</p>
        </div>
        <h1>Coming</h1>
        <h2>soon</h2>
         <div class="social_connects">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
  </div>
  
</body>
</html>
{% endblock %}